*{
    background: black;
    margin: 0%;
    padding: 1%;
    /* box-sizing: border-box; */
}

.footerfont {
    color: white;
    text-align: center;
}

/* acercade */
section.acercade{
    margin-top: 3rem;   

}