<div class="vh-100 body">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8">
        <div class="card bg-secondary" style="border-radius: 2rem">
          <div class="card-body text-center">
            <img src="/assets/img/experiencia.png" width="15%" />

            <form
              [formGroup]="form"
              (ngSubmit)="onEnviar($event)"
              name="experienciaForm"
            >
              <div class="form-group titulo">
                <label for="experienciaNombre">
                  <h5>
                    <p class="text-dark-50 mt-3 mb-3">Lugar de trabajo</p>
                  </h5>
                </label>
                <input
                  class="form-control"
                  type="text"
                  id="experienciaNombre"
                  placeholder="Lugar"
                  name="nombreE"
                  formControlName="nombreE"
                  [(ngModel)]="nombreE"
                  required
                  [ngClass]="{
                    'is-invalid': NombreE.errors && NombreE.touched,
                    'is-valid': !NombreE.errors && NombreE.touched
                  }"
                />

                <div *ngIf="NombreE.errors && NombreE.touched">
                  <p *ngIf="NombreE.hasError('required')" class="text-warning">
                    El lugar de trabajo es requerido
                  </p>
                </div>
              </div>

              <div class="form-group titulo">
                <label for="experienciaPuesto">
                  <h5>
                    <p class="text-dark-50 mt-3 mb-3">Puesto desempeñado</p>
                  </h5>
                </label>
                <input
                  class="form-control"
                  type="text"
                  id="experienciaPuesto"
                  placeholder="Puesto"
                  name="puestoE"
                  formControlName="puestoE"
                  [(ngModel)]="puestoE"
                  required
                  [ngClass]="{
                    'is-invalid': PuestoE.errors && PuestoE.touched,
                    'is-valid': !PuestoE.errors && PuestoE.touched
                  }"
                />

                <div *ngIf="PuestoE.errors && PuestoE.touched">
                  <p *ngIf="PuestoE.hasError('required')" class="text-warning">
                    El puesto es requerido
                  </p>
                </div>
              </div>

              <div class="form-group titulo">
                <label for="experienciaPeriodo">
                  <h5>
                    <p class="text-dark-50 mt-3 mb-3">Periodo de tiempo</p>
                  </h5>
                </label>
                <input
                  class="form-control"
                  type="text"
                  id="experienciaPeriodo"
                  placeholder="Periodo"
                  name="periodoE"
                  formControlName="periodoE"
                  [(ngModel)]="periodoE"
                  required
                  [ngClass]="{
                    'is-invalid': PeriodoE.errors && PeriodoE.touched,
                    'is-valid': !PeriodoE.errors && PeriodoE.touched
                  }"
                />

                <div *ngIf="PeriodoE.errors && PeriodoE.touched">
                  <p *ngIf="PeriodoE.hasError('required')" class="text-warning">
                    El periodo es requerido
                  </p>
                </div>
              </div>

              <div class="form-group titulo">
                <label for="experienciaDescripcion">
                  <h5>
                    <p class="text-dark-50 mt-3 mb-3">
                      Descripción de la tarea realizada
                    </p>
                  </h5>
                </label>
                <input
                  class="form-control"
                  type="text"
                  id="experienciaDescripcion"
                  placeholder="Descripción"
                  name="descripcionE"
                  formControlName="descripcionE"
                  [(ngModel)]="descripcionE"
                  required
                  [ngClass]="{
                    'is-invalid': DescripcionE.errors && DescripcionE.touched,
                    'is-valid': !DescripcionE.errors && DescripcionE.touched
                  }"
                />

                <div *ngIf="DescripcionE.errors && DescripcionE.touched">
                  <p
                    *ngIf="DescripcionE.hasError('required')"
                    class="text-warning"
                  >
                    La descripción es requerida
                  </p>
                </div>
              </div>
              <div class="mt-3">
                <button type="button" class="btn btn-light" (click)="limpiar()">
                  Limpiar
                </button>
                <button type="submit" class="btn btn-danger btnLogin">
                  Agregar experiencia
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
