<div class="list-group list-group-horizontal">

   <li class="list-group-item">
      <a href="https://www.facebook.com/german.barrios/" title="Facebook" target="_blank">
         <i class="fa-brands fa-facebook fa-2xl"></i></a>
   </li>

   <li class="list-group-item">
      <a href="https://www.instagram.com/phgerman87/" title="Instagram" target="_blank">
         <i class="fa-brands fa-square-instagram fa-2xl"></i></a>
   </li>

   <li class="list-group-item">
      <a href="https://www.linkedin.com/in/germ%C3%A1n-nicol%C3%A1s-808a69276/" title="LinkedIn" target="_blank">
         <i class="fa-brands fa-linkedin fa-2xl"></i></a>
   </li>

   <li class="list-group-item">
      <a href="https://github.com/6erman87/" title="GitHub" target="_blank">
         <i class="fa-brands fa-github fa-2xl"></i></a>
   </li>


   <li class="list-group-item">
      <i class="fa-solid fa-user-lock fa-beat fa-xl" title="Iniciar Sesión" (click)="login()" *ngIf="!isLogged"></i>

      <i class="fa-solid fa-door-open fa-beat fa-xl" title="Cerrar Sesión" (click)="onLogOut()" *ngIf="isLogged"></i>

   </li>

</div>