<Section id="sobre-mi" class="acercade">
    <div class="container text-center">
       <div class="row">
          <div class="col-3">
            <img src="assets/img/carnet.jpg" class="responsive rounded-circle" alt="..." title="{{ persona.nombre }} {{ persona.apellido }} | {{ persona.profesion }}">
            <div class="fw-normal"><span class="nombres"><h2> {{ persona.nombre }} {{ persona.apellido }} </h2></span></div>
            <div class="fw-normal"><span class="profesion"><h4> {{ persona.profesion }} </h4></span></div>
            <!-- <div class="fw-normal"><span class="text-secondary"><h3> {{ persona.acercademi }} </h3></span></div> -->
          </div> 
          
          <!-- PARA HACER LA EXPERIENCIA BUSCAR LA IMAGEN: index html de Eduardo Garcia Banco.jpg -->

          <div class="col-9 mt-5">
            <br>
            <br>
            <span class="sobremi"><h5>{{ persona.sobremi }}</h5></span>
          </div>
          <div class="col-3">        
          </div>
       </div>
    </div>
    <br>
    <!-- <div class="row">
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
     </div>
     <div class="row">
       <div class="col-md-8">.col-md-8</div>
       <div class="col-md-4">.col-md-4</div>
     </div>
     <div class="row">
       <div class="col-md-4">.col-md-4</div>
       <div class="col-md-4">.col-md-4</div>
       <div class="col-md-4">.col-md-4</div>
     </div>
     <div class="row">
       <div class="col-md-6">.col-md-6</div>
       <div class="col-md-6">.col-md-6</div>
     </div> -->
 </Section>
