@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

*{
    font-family: 'Sofia Sans', sans-serif;  
}

.nombres {
    color:rgb(255, 255, 255)
}

.profesion {
    color:rgb(170, 170, 170)
}

.sobremi { 
    color:rgb(214, 214, 214)
}

/* acercade */
section.acercade{
    margin-top: -5rem;
    margin-left: 1em;
    margin-right: 1em; 
}