<Section id="sobre-mi" class="acercade">
    <div class="container text-center">
       <div class="row">
          <div class="col-3">
            <img src="assets/img/carnet.jpg" class="responsive rounded-circle" alt="..." title="...">
            <div class="fw-normal"><span class="text-secondary"><h2> {{ nombre }} {{ apellido }} </h2></span></div>
            <div class="fw-normal"><span class="text-secondary"><h3> {{ acercademi }} </h3></span></div>
          </div> 
          
          <!-- PARA HACER LA EXPERIENCIA BUSCAR LA IMAGEN: index html de Eduardo Garcia Banco.jpg -->

          <div class="col-9 mt-5">
            <br>
            <br>
             <h4>{{ frase }}</h4>
          </div>
          <div class="col-3">        
          </div>
       </div>
    </div>
    <br>
    <!-- <div class="row">
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
       <div class="col-md-1">.col-md-1</div>
     </div>
     <div class="row">
       <div class="col-md-8">.col-md-8</div>
       <div class="col-md-4">.col-md-4</div>
     </div>
     <div class="row">
       <div class="col-md-4">.col-md-4</div>
       <div class="col-md-4">.col-md-4</div>
       <div class="col-md-4">.col-md-4</div>
     </div>
     <div class="row">
       <div class="col-md-6">.col-md-6</div>
       <div class="col-md-6">.col-md-6</div>
     </div> -->
 </Section>
