<div class="list-group list-group-horizontal">
   <li class="list-group-item">
      <i class="fa-brands fa-facebook fa-2xl" title="Facebook"></i>

   <li class="list-group-item">
      <a href="https://www.instagram.com/german___barrios/" title="Instagram" target="_blank"><i
            class="fa-brands fa-square-instagram fa-2xl"></i></a>

   <li class="list-group-item">
      <i class="fa-brands fa-linkedin fa-2xl" title="LinkedIn"></i>
   </li>

   <li class="list-group-item">
      <i class="fa-solid fa-user-lock fa-beat fa-xl" title="Iniciar Sesión" (click)="login()" *ngIf="!isLogged"></i>
      <!-- Enlaces en Angular (Módulo 3 #23 min 42) No corresponde, falta autentificación
      <a routerLink="/dashboard">Enlace</a> -->

      <i class="fa-solid fa-door-open fa-beat fa-xl" title="Cerrar Sesión" (click)="onLogOut()" *ngIf="isLogged"></i>
      <!-- Enlaces en Angular (Módulo 3 #23 min 42) No corresponde, falta autentificación
      <a routerLink="/dashboard">Enlace</a> -->

  </li>


   <!-- <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
   <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button> -->
</div>