/* banner */
.banner{
    margin-top: 4.7rem;
    /* background-image: url(/assets/img/ban.jpg); */
    height: auto !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}