<div class="vh-100 body">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-l-10">
          <div class="card bg-dark" style="border-radius: 2rem">
            <div class="card-body p-1 text-center">
              <h4 class="fw-bold mb-3 mt-3 text-uppercase titulo">
                EDITAR BANNER
              </h4>
              <img src="/assets/img/edit.png" width="10%" />
              <div class="mb-md-2 mt-md-1 pb-1">
                <div class="container" *ngIf="persona">
                  <div class="row">
                    <div>
                      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                          
                        <div class="form-group titulo">
                          <label for="banner">
                            <h5>
                              <p class="text-dark-50 mt-3 mb-3">Foto de banner</p>
                            </h5>
                          </label>
                          <input
                            type="file"
                            class="form-control"
                            id="banner"
                            name="banner"
                            [(ngModel)]="persona.banner"
                            (change)="uploadBanner($event)"
                            accept=".jpg, .jpeg, .png, .gif"
                          />
                        </div>
  
                        <button class="btn btn-danger mt-4">Actualizar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>