<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <div class="container text-center">
               <h1 class="modal-title fs-2" id="exampleModalLabel">Login</h1>
               <p class="text-black-50 mb-1">Ingresar usuario y contraseña</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

         <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <div class="modal-body">
               <div class="mb-3 row">
                  <label for="nombreUsuario" class="col-sm-2 col-form-label">Usuario</label>
                  <div class="col-sm-10">
                     <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
                  </div>
               </div>

               <div class="mb-3 row">
                  <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
                  <div class="col-sm-10">
                     <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required />
                  </div>
               </div>
            </div>

            <!-- 
               <div class="container text-center">
            <p class="small mb-1 pb-lg-1"><a class="text-black-50" href="#!">¿Olvidó su contraseña?</a></p>
         </div>     
             -->

            <div class="modal-footer">
               <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged" data-bs-dismiss="modal">Inicio sesión</button>
            </div>

         </form>

         <div class="container text-center">
            <p class="mb-2">¿No tienes cuenta? <a href="#!" class="text-black-50 fw-bold">Regístrate aquí</a>
            </p>
         </div>

      </div>
   </div>
</div>